<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        background-color: lightblue;

    }
    p1{
        color: red;
    }
    span{
        background-color: yellow;
        color: black;
    }
    p2.big{
        line-height: 4.0;
    }
    #left{
        width: 190px;
        float: left;
        border: 1px solid blue;
        padding: 4px;
    }
    #left form input{
        margin-bottom: 4px;
    }




</style>

<body>
    <h1 align="right"> SpringBasicExercise </h1>
    <p>This is a paragraf</p>
    <p1>This is <span> another</span> paragraf</p1>

    <br><p2 class="big" style="font-size: 30px">This is large! <sub> That was large...</sub></p2>

    <div id="left">
        <form action="/personData" method="post">
            <input type="text" name="first_name" placeholder="First name">
            <input type="text" name="last_name" placeholder="Last name">
            <input type="submit" value="Send data">
        </form>
    </div>


    <br><p3><a href="https://www.w3schools.com/html/"> Tutorials about HTML</a></p3>


    <br><img src="test.jpg" alt="Tigers in China">

</body>
</html>